name: GCC Build

on:
  workflow_dispatch:
    branches: [ main ]
  schedule:
    - cron: '0 00 * * SAT'

env:
      TZ: Asia/Jakarta
      GITHUB_EMAIL: ${{ secrets.EMAIL }}
      GITHUB_TOKEN: ${{ secrets.API_TOKEN_GITHUB }}
      GITHUB_USER: ${{ secrets.USERNAME }}
      GITHUB_REPO: ${{ secrets.REPO_SECRET }}

jobs:
  push-dump-commit:
    runs-on: ubuntu-latest
    container:
      image: mhmmdfdlyas/dockerfile:t-ubuntu

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Push an empty commit
      run: |
          git config --global --add safe.directory /__w/gcc_build/gcc_build
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git commit --allow-empty -m "github-actions: $(date +'%d%m%Y')"
          git push "$GITHUB_REPO" main -f

  build-arm64-tc:
    needs: push-dump-commit
    runs-on: ubuntu-latest
    container:
      image: mhmmdfdlyas/dockerfile:t-ubuntu

    steps:
    - uses: actions/checkout@v4
    - name: Setup git config and hooks
      run: |
        git config --global user.name "$GITHUB_USER"
        git config --global user.email "$GITHUB_EMAIL"
        mkdir -p ~/.git/hooks
        git config --global core.hooksPath ~/.git/hooks
        curl -Lo ~/.git/hooks/commit-msg https://review.lineageos.org/tools/hooks/commit-msg
        chmod u+x ~/.git/hooks/commit-msg

    - name: Build
      run: |
        git clone https://${GITHUB_TOKEN}@github.com/greenforce-project/gcc-arm64 -b main gcc-arm64gnu --depth=1
        chmod a+x build-*.sh
        ./build-gcc.sh -a arm64gnu
        script_dir=$(pwd)
        cd gcc-arm64gnu
        ./bin/aarch64-linux-gnu-gcc -v 2>&1 | tee ../gcc-version
        ./bin/aarch64-linux-gnu-ld -v 2>&1 | tee ../ld-version
        bash "$script_dir/strip-binaries.sh"
        build_tag="$(date +'%d%m%Y')"
        build_date="$(date +'%-d %B %Y')"
        git add . -f
        touch ../git_commit
        {
            echo "GCC version: $(cat ../gcc-version | grep 'gcc version')"
            echo "Binutils version: $(cat ../ld-version | head -n1)"
            echo "GCC repo commit: $(cat /tmp/gcc_commit)"
            echo "Link: https://github.com/gcc-mirror/gcc/commit/$(cat /tmp/gcc_hash)"
        } > ../git_commit
        git commit -m "greenforce: Bump to ${build_tag} build" -m "$(cat ../git_commit)" -s
        git push -f
        gcc_version="$(cat ../gcc-version | grep 'gcc version' | awk '{for(i=1;i<=NF;i++) if ($i ~ /[0-9]+\.[0-9]+\.[0-9]+/) print $i}')"
        release_file="greenforce-GCC-${gcc_version}-arm64gnu-${build_tag}.tar.zst"
        tar -I 'zstd --ultra -19 -T0' -cf "${release_file}" ./*
        if gh release view "${build_tag}"; then
            gh release upload --clobber "${build_tag}" "${release_file}" &&
                {
                    echo "Version ${build_tag} updated!"
                }
        else
            gh release create "${build_tag}" "${release_file}" -t "${build_date}" &&
                {
                    echo "Version ${build_tag} released!"
                }
        fi

  build-arm-tc:
    needs: push-dump-commit
    runs-on: ubuntu-latest
    container:
      image: mhmmdfdlyas/dockerfile:t-ubuntu

    steps:
    - uses: actions/checkout@v4
    - name: Setup git config and hooks
      run: |
        git config --global user.name "$GITHUB_USER"
        git config --global user.email "$GITHUB_EMAIL"
        mkdir -p ~/.git/hooks
        git config --global core.hooksPath ~/.git/hooks
        curl -Lo ~/.git/hooks/commit-msg https://review.lineageos.org/tools/hooks/commit-msg
        chmod u+x ~/.git/hooks/commit-msg

    - name: Build
      run: |
        git clone https://${GITHUB_TOKEN}@github.com/greenforce-project/gcc-arm -b main gcc-armgnu --depth=1
        chmod a+x build-*.sh
        ./build-gcc.sh -a armgnu
        script_dir=$(pwd)
        cd gcc-armgnu
        ./bin/arm-linux-gnueabi-gcc -v 2>&1 | tee ../gcc-version
        ./bin/arm-linux-gnueabi-ld -v 2>&1 | tee ../ld-version
        bash "$script_dir/strip-binaries.sh"
        build_tag="$(date +'%d%m%Y')"
        build_date="$(date +'%-d %B %Y')"
        git add . -f
        touch ../git_commit
        {
            echo "GCC version: $(cat ../gcc-version | grep 'gcc version')"
            echo "Binutils version: $(cat ../ld-version | head -n1)"
            echo "GCC repo commit: $(cat /tmp/gcc_commit)"
            echo "Link: https://github.com/gcc-mirror/gcc/commit/$(cat /tmp/gcc_hash)"
        } > ../git_commit
        git commit -m "greenforce: Bump to ${build_tag} build" -m "$(cat ../git_commit)" -s
        git push -f
        gcc_version="$(cat ../gcc-version | grep 'gcc version' | awk '{for(i=1;i<=NF;i++) if ($i ~ /[0-9]+\.[0-9]+\.[0-9]+/) print $i}')"
        release_file="greenforce-GCC-${gcc_version}-armgnu-${build_tag}.tar.zst"
        tar -I 'zstd --ultra -19 -T0' -cf "${release_file}" ./*
        if gh release view "${build_tag}"; then
            gh release upload --clobber "${build_tag}" "${release_file}" &&
                {
                    echo "Version ${build_tag} updated!"
                }
        else
            gh release create "${build_tag}" "${release_file}" -t "${build_date}" &&
                {
                    echo "Version ${build_tag} released!"
                }
        fi
