name: GCC Build

on:
  workflow_dispatch:
    branches: [ main ]
  schedule:
    - cron: '0 00 * * SAT'

env:
      GITHUB_EMAIL: ${{ secrets.EMAIL }}
      GITHUB_TOKEN: ${{ secrets.API_TOKEN_GITHUB }}
      GITHUB_USER: ${{ secrets.USERNAME }}

jobs:
  build-arm64-tc:
    runs-on: ubuntu-latest
    container:
      image: mhmmdfdlyas/dockerfile:t-ubuntu

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        chmod a+x build-*.sh
        ./build-gcc.sh -a arm64
        script_dir=$(pwd)
        cd gcc-arm64
        ./bin/aarch64-elf-gcc -v 2>&1 | tee ../gcc-version
        ./bin/aarch64-elf-ld -v 2>&1 | tee ../ld-version
        bash "$script_dir/strip-binaries.sh"
        cd ../ && cat ld-version >> gcc-version
    - name: Create tarball
      run: |
        tar -cvf gf-gcc-arm64-$(/bin/date -u '+%d%m%Y').xz gcc-arm64/*

    - uses: actions/upload-artifact@main
      with:
       name: aarch64-tarball
       path: |
         *.xz
         gcc-version

  build-arm-tc:
    runs-on: ubuntu-latest
    container:
      image: mhmmdfdlyas/dockerfile:t-ubuntu

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
        chmod a+x build-*.sh
        ./build-gcc.sh -a arm
        script_dir=$(pwd)
        bash "$script_dir/strip-binaries.sh"
    - name: Create tarball
      run: |
        tar -cvf gf-gcc-arm-$(/bin/date -u '+%d%m%Y').xz gcc-arm/*

    - uses: actions/upload-artifact@main
      with:
       name: arm-tarball
       path: |
         *.xz

  publish-release:
      needs: [build-arm64-tc,build-arm-tc]
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v4
        - name: Restoring artifacts
          uses: actions/download-artifact@main
          with:
            path: ${{ github.workspace }}
        - name: Release Tag
          id: release_tag
          run: echo "TAG_NAME='$(date -u +%d%m%Y)'" >> $GITHUB_ENV
        - name: Create Release
          run: |
            gh release create ${{ env.TAG_NAME }} -F aarch64-tarball/gcc-version */*.xz
